@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.bgred {
		@apply bg-red-900;
	}
	.center-child {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.cardAnimation {
		@apply cursor-pointer shadow-[0_15px_40px_-15px_rgba(0,0,0,0.3)] p-4 rounded-md ease-linear duration-150 hover:scale-105;
	}

	/* for scrollbar styling */
	.scrollbar-thin {
		scrollbar-width: thin;
	}

	.scrollbar-thumb-rounded {
		scrollbar-width: thin;
		scrollbar-color: #aca8a8 #f1f1f1;
	}

	.scrollbar {
		&::-webkit-scrollbar {
			width: 12px;
		}

		&::-webkit-scrollbar-track {
			background: #f1f1f1;
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}
}

:root {
	/* --signIn-bg: #ec4636; */
	--signIn-bg: #ff4665;
	--signUp-bg: #ff5672;
}

body {
	font-family: "Open Sans", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Profile Input fields */
.profileInputFields .inputField {
	width: 100%;
	position: relative;
}

.profileInputFields .passwordField svg {
	position: absolute;
	right: 0.25rem;
	bottom: 0.25rem;
	color: var(--secondary);
}

.profileInputFields input {
	width: 100%;
	background: transparent;
	border-bottom: 1px solid var(--secondary);
}

.profileInputFields .inputField:focus-within input {
	outline: none;
}
.profileInputFields .inputField:focus-within span,
.profileInputFields .inputField.hasContent span {
	top: -1rem;
	font-size: 0.9rem;
}
.profileInputFields .inputField span {
	top: -0.25rem;
	font-size: 1.15rem;
}

.profileInputFields .actionBtns {
	@apply center-child;
	width: 100%;
	gap: 1rem;
	color: var(--white);
}
.profileInputFields .actionBtns button {
	flex-wrap: wrap;
	width: 100%;
	@apply center-child;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
}

/* login */
.underlay {
	position: absolute;
	color: #014368;
	content: "";
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	/* background: var(--signUp-bg); */
	background: #d2e6fe;
	border-radius: 0 2rem 2rem 0;
	z-index: 10;
	transition: 300ms ease;
	transform: translate(100%, 0);
}

.underlay.signin {
	transform: translate(0, 0);
	border-radius: 2rem 0 0 2rem;
}

.inputBox > .inputFields input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #afafaf;
	font-size: 1rem;
	outline: none;
	background: transparent;
}

.inputBox > .inputFields {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.inputBox > .inputFields > .inputField {
	position: relative;
	font-size: clamp(1rem, 1.5vw, 2rem); /* sub-heading */
	font-weight: 700;
}

.inputField input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.inputField input[type="number"] {
	-moz-appearance: textfield;
}

.inputField span,
.inputField p {
	color: var(--signIn-bg);
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	z-index: -1;
	transition: 250ms ease;
}
.inputField:focus-within span,
.inputField.hasContent span {
	font-size: 0.9rem;
	top: -0.75rem;
	color: var(--signUp-bg);
}
.inputField:focus-within input {
	border-color: var(--primary);
	background-color: transparent;
}

/* media field */
@media screen and (max-width: 767px) {
	.underlay {
		transform: translate(0, 100%);
		height: 50%;
		width: 100%;
		border-radius: 0 0 1.5rem 1.5rem;
	}
	.underlay.signin {
		transform: translate(0, 0);
		border-radius: 1.5rem 1.5rem 0 0;
	}

	.inputField span {
		font-size: 1rem;
	}
	.inputField:focus-within span,
	.inputField.hasContent span {
		font-size: 0.9rem;
	}

	.inputBox > .inputFields input {
		font-size: 0.85rem;
	}
}
